  /*main area*/
	.work-space {
		margin: 0px;
	}
	body{
			overflow-x: hidden;
		}
	/*main area*/
	/*background, navigation, header,creative tim*/
	.background {
		background: url("https://ununsplash.imgix.net/photo-1427434846691-47fc561d1179?fit=crop&fm=jpg&h=700&q=75&w=1050");
		background-size: cover;
		height: 100vh;
		background-attachment: fixed;
		top: 0px;
	}
	.navbar-collapse {
		font-family:Quicksand;
		font-color:#000;
	}
	.header a {
		font-family: Quicksand;
		font-size: 30px;
	}
	
	.menu {
		font-size: 16px;
		margin-top: 25px;
		background: #fff;
	}

	.creative-tim {
		text-align: center;
		margin: 100px;
		color: #424242;
		position: absolute;
	}

	.creative-tim h1 {
		font-size: 7em;
		text-transform: uppercase;
		margin-top: 2em;
		position: relative;
	}

	.creative-tim hr {
		border-top: 1px solid #424242;
		margin-top: 11px;
	}

	.creative-tim p {
		font-size: 20px;
		margin-top: 10px;
	}

	