  /*main area*/
	.work-space {
		margin: 0px;
	}
	body{
			overflow-x: hidden;
		}
	/*main area*/
	/*background, navigation, header,creative tim*/
	.background {
		background: url("https://ununsplash.imgix.net/photo-1427434846691-47fc561d1179?fit=crop&fm=jpg&h=700&q=75&w=1050");
		background-size: cover;
		height: 100vh;
		background-attachment: fixed;
		top: 0px;
	}
	.navbar-collapse {
		font-family:Quicksand;
		font-color:#000;
	}
	.header a {
		font-family: Quicksand;
		font-size: 30px;
	}
	
	.menu {
		font-size: 16px;
		margin-top: 25px;
		background: #fff;
	}

	.creative-tim {
		text-align: center;
		margin: 100px;
		color: #424242;
		position: absolute;
	}

	.creative-tim h1 {
		font-size: 7em;
		text-transform: uppercase;
		margin-top: 2em;
		position: relative;
	}

	.creative-tim hr {
		border-top: 1px solid #424242;
		margin-top: 11px;
	}

	.creative-tim p {
		font-size: 20px;
		margin-top: 10px;
	}

	/*about section*/
	.about-creative-tim img {
		max-width: 100%;
		margin-bottom: 30px;
		position: relative;

	}

	.img {
		margin-top: 50px;
    	margin-left: 130px;
	}
	/*about section*/
	/*what we do*/
	.subheading h2{
		text-align: center;
	}
	
	.desc {
		width: 100%;
		text-align: center;
	}

	.desc h3 {
		margin: 5px 0px 10px 0px;
	}

	.desc p {
		font-size: 18px;
		color: #9e9e9e;
		margin-bottom: 30px;
	}

	.icon {
	    font-size: 75px;
			line-height: 75px;
	    color: #c5a47e;
	    margin-bottom: 10px;
	}

	/*what we do*/
	/*freebies and ui tools*/
	.our-famous-freebies img {
		width: 100%;
		position: relative;
		margin-bottom: 5px;
	}
	.our-ui-tools img {
		width: 100%;
		position: relative;
		margin-bottom: 5px;
	}

	.freebies {
		text-align: center;
		margin: 50px 0px ;
	}

	.freebies h4 {
		color: #757575;
	}

	.freebies h3 {
		margin: 0px;
	}

	.freebies p {
		color: #9e9e9e;
		margin-top: 20px;
	}

	.button1 {
		border: 1px solid #bdbdbd;
		background: #fff;
		border-radius: 20px;
		width: 92px;
		height: 34px;
		color: #9e9e9e;
	}

	.button2 {
		border: 0px;
		background: #757575;
		border-radius: 20px;
		width: 124px;
		height: 34px;
		color: #fff;
	}
	/*freebies and ui tools*/
	/*what people think*/

	.name {
		text-align: center;
	}

	.what-people-think-section p {
		text-align: center;
		font-size: 2em;
		color: #9e9e9e;
	}

	.what-people-think a {
		color: #c5a47e;
	}

	
	#abhi-para, #fars-para, #nikolai-para {
		display: none;
	}
	/*what people think*/
	/*meet our team*/
	.meet-our-team-section {
		text-align: center;
	}


	.meet-our-team img {
		width: 120px;
		height: 120px;	
		border: 3px solid #c5a47e;
	}

	.meet-our-team h4 {
		text-transform: uppercase;
		margin: 30px 0px;
	}

	.meet-our-team p {
		color: #9e9e9e;
	}

	.meet-our-team-section hr {
		border-top: 1px solid #9e9e9e;
	}

	.meet-our-team-section a {
		background: #9e9e9e;
	}
	/*meet our team*/
	/*numbers*/
	.numbers-dont-lie-section {
		text-align: center;
	}

	.numbers-dont-lie-section h3 {
		font-size: 30px;
		margin: 20px 0px;
	}

	.numbers-dont-lie-section h4 {
		font-size: 22px;
		margin: 20px 0px;
	}

	.numbers-dont-lie-section p {
		font-size: 40px;
		color: #c5a47e;
		margin: 20px 0px;
	}

	.numbers {
		margin: 20px 0px;
	}
	/*numbers*/
	/*map, contact, address*/
	#map {
		height: 100vh;
        width: 100%;
        position: relative;
	}

	.contact {
		position: relative;
		text-align: center;
	}

	.address-container {
		width: 28%;
	    background-color: #FFFFFF;
	    height: 470px;
	    padding: 20px;
	    position: absolute;
    	left: 0px;
    	z-index: 99;
    	text-align: center;
    	margin-top: 80px;
	}

	.address {
		text-align: center;
		margin-top: 40px;
	}

	.address h4 {
		margin-bottom: 5px;
		font-size: 1.6em;
		padding: 20px 0px 10px 0px;
	}

	.address p {
		font-size: 1em;
		color: #777;
		margin-bottom: 20px;
	}

	.address h5 {
		margin: 10px 0px 5px 0px;
		font-weight: bold;
	}

	.address button {
		background: #fff;
		border: 1px solid #777;
	}
	/*map, contact, address*/
	/*footer*/
	.footer {
		text-align: center;
		background: rgba(0,0,0,.7);
		color: #9e9e9e;
		height: 3.58em;
	}

	.tabs {
		margin: 15px 0px 0px 0px;
	}

	.a-tab {
		padding: 0px 30px;
		text-align: center;
		text-decoration: none;

	}

	.btn-simple {
		padding: 0px;
		border: 0px;
		width: 22px;
		height: 22px;
	}

	.a-grey {
		color: #9e9e9e;
	}
	/*footer*/
	/*media query*/
	@media screen and (max-width: 414px) {
		

		.creative-tim h1 {
			font-size: 20px;
			margin-top: 30px;
		}
	
		.subheading {
			margin-top: 40px;
		}

		#dot {
			padding: 0px 1px;
		}
		.pattern {
			position:absolute;
		}

		.first-hr {
			margin-left: 5px;
		}
		.img{
			margin-left: 60px;
		}
		.freebies-template {
			margin-top: 40px;
		}

		.what-people-think-section p {
			font-size: 1.5em;
		}
		.about-creative-tim img {
		max-width: 70%;		
  		}
	
		.name {
			font-size: 1em;
		}

		.btn {
			display: none;
		}

		.address-container {
			width: 23em;
			height: 35em;
			padding: 0em;
		}

		.footer {
			height: 10em;
			margin-top: 10px;
		}

		.btn-simple {
			display: none;
		}

	}
	/*media query*/